# Python venv
venv/

#Local settings file
local.settings.json

# Paremeters file
infrastructure/parameters.json

# Test file
input_test.csv

#
.vscode

# Python-related ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp